* {
    background-color: #63C5DA;
    color: whitesmoke;
    font-family: monospace;
}

body {
    background-color: #63C5DA;


}

aside {
    max-width: 25%;
}

h1 {
    text-align: center;
    opacity: 75%;

}

input {
    border-radius: 8px;
}

.hide {
    display: none;
}

.card-body {
    background-color: #52b2bf;
    max-width: 25%;
    margin: 3px;
    border-radius: 8px;
    justify-content: end;
}

.dayColor {
    background-color: #52b2bf; 
}

#days-container {
    padding-left: 28%;
}

#searchButtonEl {
    border-radius: 8px;
    background-color: #52b2bf;
}

.buttonStyle {
    border-radius: 8px;
    background-color: #52b2bf;
    width: 60%;
}

#formLabelEl {
    font-size: 22px;

}

#fiveday{
    padding-left: 30%;
}
